/*=========================
        ABOUT
=========================*/
.about-section{
padding:100px 0;
}
.about-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:70px;
align-items:center;
}
.about-image img{
border-radius:30px;
box-shadow:0 20px 40px rgba(0,0,0,.15);
}
.about-content span{
color:#D4AF37;
font-weight:600;
}
.about-content h2{
font-size:3rem;
font-family:Poppins;
margin:20px 0;
}
.about-content p{
color:#6b7280;
line-height:1.8;
}
.about-features{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin:30px 0;
}
.about-features div{
font-weight:500;
}.stats-section{
background:#111827;
padding:70px 0;
color:white;
}
.stats-container{
display:grid;
grid-template-columns:repeat(4,1fr);
text-align:center;
}
.about-stat h2{
color:#D4AF37;
font-size:3rem;
}.team-section{
padding:100px 0;
}
.team-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}
.team-card{
text-align:center;
background:white;
padding-bottom:25px;
border-radius:25px;
overflow:hidden;
box-shadow:0 15px 35px rgba(0,0,0,.08);
transition:.4s;
}
.team-card:hover{
transform:translateY(-15px);
}
.team-card img{
height:350px;
object-fit:cover;
 max-width:100%;
}
.team-card h3{
margin-top:20px;
font-family:Poppins;
}
.page-content h1{
padding: 0%;
margin:0%;
text-align: center;
}
.page-content p{
    text-align: center;
    font-size: 20px;
}

/*=================================
        CONTACT SECTION
=================================*/

.contact-section{
padding:100px 0;
background:#f8fafc;
}
.contact-container{
display:grid;
grid-template-columns:2fr 1fr;
gap:60px;
}
.contact-info span{
color:#D4AF37;
font-weight:600;
}
.contact-info h2{
font-size:3rem;
font-family:Poppins;
margin:20px 0;
}
.contact-info p{
color:#6b7280;
line-height:1.7;
}
.contact-details{
margin-top:40px;
display:grid;
gap:25px;
}
.contact-details div{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.06);
}
/* SOCIAL */
.contact-social{
background:#111827;
padding:40px;
border-radius:25px;
color:white;
}
.contact-social h3{
font-size:1.8rem;
margin-bottom:25px;
}
.social-links{
display:flex;
flex-direction:column;
gap:15px;
}
.social-links a{
color:white;
padding:15px;
border:1px solid rgba(255,255,255,.2);
border-radius:30px;
transition:.4s;
}
.social-links a:hover{
background:#D4AF37;
border-color:#D4AF37;
transform:translateX(10px);
}
/*=========================
          FOOTER
=========================*/
.footer{
background:#0f172a;
color:white;
padding:70px 0 20px;
}
.footer-container{
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:50px;
}
.footer h2{
font-family:Poppins;
}
.footer h2 span{
color:#D4AF37;
}
.footer p{
color:#94a3b8;
line-height:1.7;
}
.footer-links,
.footer-social{
display:flex;
flex-direction:column;
gap:15px;
}
.footer a{
color:#cbd5e1;
transition:.3s;
}
.footer a:hover{
color:#D4AF37;
}
.copyright{
margin-top:50px;
padding-top:20px;
border-top:1px solid rgba(255,255,255,.1);
text-align:center;
}/*=========================
      RESPONSIVE DESIGN
=========================*/


/* Tablet */
@media(max-width:992px){

    .about-container{
        grid-template-columns:1fr;
        gap:40px;
    }


    .about-image{
        text-align:center;
    }


    .about-image img{
        width:80%;
    }


    .stats-container{
        grid-template-columns:repeat(2,1fr);
        gap:30px;
    }


    .team-grid{
        grid-template-columns:repeat(2,1fr);
    }


    .contact-container{
        grid-template-columns:1fr;
    }


    .footer-container{
        grid-template-columns:1fr 1fr;
    }


    .about-content h2,
    .contact-info h2{
        font-size:2.4rem;
    }

}



/* Mobile */
@media(max-width:600px){


    .about-section,
    .team-section,
    .contact-section{
        padding:60px 20px;
    }



    .about-container{
        grid-template-columns:1fr;
        gap:30px;
    }



    .about-image img{
        width:100%;
        border-radius:20px;
    }



    .about-content h2,
    .contact-info h2{
        font-size:2rem;
    }



    .about-features{
        grid-template-columns:1fr;
    }



    .stats-container{
        grid-template-columns:1fr;
    }



    .team-grid{
        grid-template-columns:1fr;
    }



    .team-card img{

        width:100%;
        height:300px;
        object-fit:cover;

    }



    .contact-social{
        padding:25px;
    }



    .footer-container{
        grid-template-columns:1fr;
        text-align:center;
    }


}